services:
  postgres:
    image: postgres:15
    container_name: projecty-postgres
    environment:
      POSTGRES_USER: projecty
      POSTGRES_PASSWORD: projecty
      POSTGRES_DB: projecty_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: projecty-backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://projecty:projecty@postgres:5432/projecty_db
      JWT_SECRET: supersecret
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: projecty-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  pgdata:
